table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    padding: 3px;
    /*background-color: darkgray;*/
}

tbody tr:nth-child(odd) {
    background-color: #dddddd;
}

span.tab {
    font-size: 75%;
}

td.act {
    text-align: center;
}
