table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    padding: 3px;
}

tbody tr:nth-child(odd) {
    background-color: #dddddd;
}

div.tab {
    font-size: 75%;
}

td.act {
    text-align: center;
    vertical-align: middle;
}
